<section class="block container">
  <header class="block__header">
    <h2>Host Оn Тhe Cloud to Keep Growing</h2>
    <p>
      Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
      accumsan.
    </p>
  </header>
  <article class="grid grid_1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon_secondary">
          <use xlink:href="images/icon/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat
        distinctio esse sint alias, magni tempore saepe, expedita, doloremque
        ipsum provident explicabo! Vero beatae totam a iste numquam sapiente
        sunt ipsa.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
        type="image/jpg"
      />
      <img class="feature__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid_1x2 feature">
    <div class="feature__content_order">
      <span class="icon-container">
        <svg class="icon icon_secondary">
          <use xlink:href="images/icon/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply fast websites</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, cumque
        deleniti blanditiis rem, sed repellendus possimus animi laudantium
        pariatur doloribus reiciendis corrupti eum ipsa adipisci dignissimos
        exercitationem magni. Consequatur, delectus?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="images/fast.jpg 1x, images/fast@2x.jpg 2x"
        type="image/jpg"
      />
      <img class="feature__image" src="images/fast@2x.jpg" alt="" />
    </picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid_1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon_secondary">
          <use xlink:href="images/icon/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress made easy</h3>
      <p class="feature__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis,
        rerum nam mollitia eius a excepturi aperiam quam tempora voluptatibus
        ipsam commodi ratione nobis molestiae sed animi ullam eos labore
        dolores.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="images/wordpress.jpg 1x, images/wordpress@2x.jpg 2x"
        type="image/jpg"
      />
      <img class="feature__image" src="images/wordpress@2x.jpg" alt="" />
    </picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid_1x2 feature">
    <div class="feature__content_order">
      <span class="icon-container">
        <svg class="icon icon_secondary">
          <use xlink:href="images/icon/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p class="feature__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis,
        rerum nam mollitia eius a excepturi aperiam quam tempora voluptatibus
        ipsam commodi ratione nobis molestiae sed animi ullam eos labore
        dolores.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        srcset="images/support.webp 1x, images/support@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="images/support.jpg 1x, images/support@2x.jpg 2x"
        type="image/jpg"
      />
      <img class="feature__image" src="images/support@2x.jpg" alt="" />
    </picture>
  </article>
</section>
