<footer class="block block_dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible_expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Products</h2>
        <svg class="icon icon_white collapsible_chevron">
          <use xlink:href="images/icon/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <a href="#"><li>WordPress Hosting</li></a>
          <a href="#"><li>Free Automated WordPress</li></a>
          <a href="#"><li>Migrations</li></a>
          <a href="#"><li>Domain Names</li></a>
          <a href="#"><li>Monthly Web Hosting</li></a>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Company</h2>
        <svg class="icon icon_white collapsible_chevron">
          <use xlink:href="images/icon/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <a href="#"><li>About</li></a>
          <a href="#"><li>Affiliates</li></a>
          <a href="#"><li>Blog</li></a>
          <a href="#"><li>Careers</li></a>
          <a href="#"><li>News</li></a>
          <a href="#"><li>Green Hosting</li></a>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Support</h2>
        <svg class="icon icon_white collapsible_chevron">
          <use xlink:href="images/icon/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <a href="#"><li>Contact</li></a>
          <a href="#"><li>Knowledge Base</li></a>
          <a href="#"><li>Forums</li></a>
          <a href="#"><li>System Status</li></a>
          <a href="#"><li>Web Hosting</li></a>
          <a href="#"><li>DreamCompute</li></a>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Domains</h2>
        <svg class="icon icon_white collapsible_chevron">
          <use xlink:href="images/icon/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <a href="#"><li>Domain Checker</li></a>
          <a href="#"><li>Domain Transfer</li></a>
          <a href="#"><li>Free Domain</li></a>
          <a href="#"><li>Cheap SSL Certificate</li></a>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img class="footer__logo" src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright © 2022 Dorin Ilușca</p>
    </section>
  </div>
</footer>
